#counter{
    display: block;
    font-size: 13em;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

#divid{
text-align: center;
}



.button{
padding: 25px 25px;
font-size: 1.5em;
color:black;
background-color: rgba(118, 127, 74, 0.73);
border-radius: 50px;
cursor: pointer;
transition: background-color 0.25s;
}